<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" (dict "page" . "withAside" true "seo" "article") }}
<body>
{{ partial "nav.html" . }}
{{ partial "guides-aside.html" . }}
<main id="main">
    {{ if .Title }}
    <h1>{{ .Title }}</h1>
    {{ end }}
    {{- $c := .Content | string -}}
    {{- $c = replace $c "<code>" `<code class="language-plaintext highlighter-rouge">` -}}
    {{- $c = replace $c `<code class="__block__">` "<code>" -}}
    {{- $c = replace $c "<td></td>" (printf "<td>%s</td>" ("&nbsp;" | htmlUnescape)) -}}
    {{- $c = replace $c "<br>" "<br />" -}}
    {{ $c | safeHTML }}
  </main>
{{ partial "footer.html" . }}
