<head>
  <link rel="preload" href="/static/fonts/ubuntu-v15-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/fonts/ubuntu-v15-subset-500.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/static/files/feather.png" as="image" type="image/svg+xml">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  {{- with .page.Params.robots }}
  <meta name="robots" content="{{ . }}">
  {{- end }}
  {{ partial "seo.html" (dict "page" .page "type" .seo) }}
  <link rel="icon" type="image/svg+xml" href="/static/files/feather.png">
  {{ "<!-- Stylesheets -->" | safeHTML }}
  <style>{{ readFile "assets/inline/modern-normalize.css" | safeCSS }}</style>
  <style>{{ readFile "assets/inline/inline-style.css" | safeCSS }}</style>
  {{ if .withAside }}
  <style>{{ readFile "assets/inline/inline-aside-style.css" | safeCSS }}</style>
  {{ end }}
  <link rel="stylesheet" href="/static/css/additional-styles.css">
</head>
